<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="myproj.ListernerTest"/> 
</listeners>

  <test name="myproj">
   <classes>
      <class name="myproj.Addtocart"/>
 <!-->     <class name="myproj.Removefromcart"/>  -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
